.container {
  margin-bottom: 10px;
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 3px 10px;
  background-color: #c8c4c4;
  font-size: 14px;
  font-weight: 600;
  color: #363636;

  border-radius: 10px;
  border: 1px solid #040404;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 1px rgba(0, 0, 0, 0.13), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  
  &:hover,
  :focus {
    color: #f5f5f5;
    background-color: #5d84b8;
  }
}
